body {
   margin: 0;
   font-family: Georgia, serif;
   background-color: #ecebe6;
   color: #333;
   padding-top: 90px;
}

/* Sticky Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 20px 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    z-index: 1000;
}

    
header {
    position: relative;
    background-image: url("images/media-2677010513.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    /*text-align: center;*/
    padding: 120px 20px;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
  
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center;     /* Centers text vertically */
    text-align: center;
}

/* Dark overlay */
header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* adjust darkness here */
}

/* Keeps text above overlay */
.header-content {
    position: relative;
    z-index: 1;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px
}

section {
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

h2 {
    border-bottom: 3px solid #003366;
    padding-bottom: 5px;
}
.resource-card {
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
input, select, textarea {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    max-width: 500px;
}

button {
    background: #333;
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #333;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    nav a {
        margin: 5px 0;
    }
}
