* {
    box-sizing: border-box;
}

body {
   margin: 0;
   font-family: Georgia, serif;
   background-color: #ecebe6;
   color: #333;
   padding-top: 90px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 20px 40px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-weight: bold;
    font-size: 18px;
}

/* Links */
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hamburger icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

    
header {
    position: relative;
    background-image: url("images/media-2677010513.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    /*text-align: center;*/
    padding: 120px 20px;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
  
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center;     /* Centers text vertically */
    text-align: center;
}

/* Dark overlay */
header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* adjust darkness here */
}

/* Keeps text above overlay */
.header-content {
    position: relative;
    z-index: 1;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px
}

section {
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

h2 {
    border-bottom: 3px solid #003366;
    padding-bottom: 5px;
}
.resource-card {
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
input, select, textarea {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    max-width: 500px;
}

button {
    background: #333;
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #333;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
        position: absolute;
        top: 80px; /* match navbar height */
        left: 0;
        width: 100%;
        background: #333;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .nav-links a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}
